footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
  background: #2d3947;
  padding: 35px 0;
  color: #ffffff;
  text-align: start;

  .section.cards-container {
    display: flex;
    justify-content: space-around;

    .cards-wrapper {
      ul {
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));

        li {
          background-color: transparent;

          p {
            font-size: 15px;
            margin-top: 10px;

            strong {
              color: #ffce29;
              font-weight: 600;
              font-size: 16px;
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }
  }

}

footer .footer>div {
  margin: auto;
  max-width: 1200px;
}


footer .footer p {
  margin: 0;
}